html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  min-height: 62.5rem;
  font-family: 'Righteous', cursive;
  padding-top: 100px;
  background-color: black;
  color: white; }

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: black;
  transition: 1s; }

header.scrolled {
  height: 100px;
  z-index: 99; }

h2 {
  text-decoration: underline solid white; }

section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
  z-index: -5; }

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0); }

section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative; }

section#timeline article:after {
  content: '';
  display: block;
  clear: both; }

section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px; }

section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: black;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 7px red; }

section#timeline article div.inner span.date span {
  display: block;
  text-align: center; }

section#timeline article div.inner span.date span.day {
  font-size: 10px;
  color: white; }

section#timeline article div.inner span.date span.month {
  font-size: 18px;
  color: white; }

section#timeline article div.inner span.date span.year {
  font-size: 10px;
  color: white; }

section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative; }

section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg); }

section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 100%;
  background: black;
  color: #ffffff;
  border-radius: 0 0 6px 6px; }

section#timeline article:nth-child(2n+2) div.inner {
  float: right; }

section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px; }

section#timeline article:nth-child(1) div.inner h2 {
  background: #000000; }

section#timeline article:nth-child(1) div.inner h2:after {
  background: #000000; }

section#timeline article:nth-child(2) div.inner h2 {
  background: #000; }

section#timeline article:nth-child(2) div.inner h2:after {
  background: #000; }

section#timeline article:nth-child(3) div.inner h2 {
  background: #000; }

section#timeline article:nth-child(3) div.inner h2:after {
  background: #000; }

nav {
  position: relative;
  float: right; }

nav ul {
  position: relative;
  margin: 0;
  padding: 40px 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
  transition: 1s; }

header.scrolled nav ul {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); }

nav ul li {
  list-style: none; }

nav ul li a {
  color: white;
  padding: 10px 15px;
  text-decoration: none; }

nav ul li a:hover {
  font-size: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: ease-in 250ms; }

nav ul li a.active {
  background: white;
  color: #000000; }

#aboutme {
  text-align: center; }
  #aboutme p {
    padding-left: 20%;
    padding-right: 20%; }

section {
  padding-top: 100px;
  box-sizing: border-box; }
  section h2 {
    margin: 0;
    padding: 0;
    font-size: 200%;
    text-align: center; }
  section p {
    font-size: 100%; }

.cont-container {
  position: relative;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 7%;
  text-align: center; }

.cont-method {
  width: 220px;
  height: 140px;
  display: inline-block;
  background: linear-gradient(to right, black 50%, red 100%);
  margin: 10px;
  color: white;
  position: relative;
  cursor: pointer; }

.cont-method i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 140px;
  z-index: 1;
  color: black;
  background: #ffffff;
  transition: transform 0.6s; }

.cont-method span {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 0; }

.cont-method:hover i {
  transform: translateY(-40px); }

#end {
  color: white;
  text-align: center; }

.footer {
  height: 10vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to right, black 50%, red 100%); }

.footer::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left top;
  transform: skewY(-2deg); }

#skill-icons {
  font-size: 9rem;
  margin-top: 7%;
  margin-left: 5%; }

#skill-icons:hover {
  transform: scale(1.2);
  animation: rainbow infinite 1s ease-in-out; }

header .logo {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  transition: 1s; }

header.scrolled .logo {
  position: relative;
  top: 0;
  left: 0; }

header img.banner {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 1s; }

header.scrolled img.banner {
  opacity: 0; }

header .logo img {
  width: 20rem;
  transition: 1s; }

header.scrolled .logo img {
  width: 8.25rem; }

img.me {
  padding-top: 160px;
  padding-left: 350px; }

.fig {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 80%;
  min-width: 80%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

.fig * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.fig:before,
.fig:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.35s ease;
  background: linear-gradient(to right, red 20%, white 100%);
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1; }

.fig:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%); }

.fig:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%); }

.fig img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top; }

.fig figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000; }

.fig h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase; }

.fig a {
  text-decoration: none;
  color: inherit; }

.fig:hover:before,
.fig.hover:hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%); }

.fig:hover:after,
.fig.hover:hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%); }

.fig:hover figcaption,
.fig.hover:hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; }

#soon {
  opacity: 0.5; }

.projects {
  padding-top: 15%; }
  .projects div {
    height: 15rem;
    width: 26rem; }
    .projects div img {
      width: 100%;
      height: 100%; }

@keyframes rainbow {
  0% {
    color: white; }
  50% {
    color: red; }
  100% {
    color: white; } }
@media (max-width: 633px) {
  nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 30rem;
    font-size: 89%; }

  section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
    margin-top: 20%; }

  .pro {
    grid-area: pro;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-areas: "txt" "project1" "project2" "project3" !important; } }
@media (max-width: 611px) {
  nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 27rem;
    font-size: 70%; }

  section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
    margin-top: 20%; }

  .pro {
    grid-area: pro;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-areas: "txt" "project1" "project2" "project3" !important; } }
@media (max-width: 564px) {
  nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 25rem;
    font-size: 70%; }

  section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
    margin-top: 20%; }

  #skill-icons {
    font-size: 8rem;
    margin-top: 7%;
    margin-left: 5%; }

  .pro {
    grid-area: pro;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-areas: "txt" "project1" "project2" "project3" !important; } }
@media (max-width: 523px) {
  nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 24.5rem;
    font-size: 70%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  html {
    overflow-x: hidden; }

  nav {
    display: none; }

  header .logo img {
    width: 124%;
    transition: 1s; }

  section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    margin-top: 5px;
    border-radius: 6px;
    margin-top: 26%; }

  #skill-icons {
    font-size: 6rem;
    margin-top: 7%;
    margin-left: 5%; }

  .projects div {
    height: 15rem;
    width: auto; } }
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "abt abt " "edu edu" "skills skills" "pro pro" "con con" "foot foot"; }
  .container #aboutme {
    grid-area: abt; }
  .container .vision {
    grid-area: vis; }
  .container .edu {
    grid-area: edu; }
  .container .edu-timeline {
    grid-area: etl; }
  .container .skills {
    grid-area: skills; }
  .container .pro {
    grid-area: pro;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "txt txt txt" "project1 project2 project3"; }
    .container .pro .text-intro {
      grid-area: txt; }
    .container .pro .project1 {
      grid-area: project1; }
    .container .pro .project2 {
      grid-area: project2; }
    .container .pro .project3 {
      grid-area: project3; }
    .container .pro .projects {
      display: grid;
      place-items: center; }

.contact {
  grid-area: con; }

.footer {
  grid-area: foot; }

/*# sourceMappingURL=main.css.map */
