.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
        "abt img-1"
        ". edu"
        "skills ."
        "pro pro ";



}

.about {
    grid-area: abt;

}

.me { 
    grid-area: img-1;
}

.edu {
    grid-area: edu;
}

.skills {
    grid-area: skills;
}

.pro {
    grid-area: pro;
}
