// responsiveness 


@media (max-width: 633px) {
  nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 30rem;
    font-size: 89%;
}
section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
    margin-top: 20%;
}
 .pro {
    grid-area: pro;

    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "txt"
      "project1"
      "project2" 
      "project3" !important;
 }
}
@media (max-width: 611px) {
    nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 27rem;
    font-size: 70%;
}
section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
    margin-top: 20%;
}
.pro {
    grid-area: pro;

    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "txt"
      "project1"
      "project2" 
      "project3" !important;
 }
}
@media (max-width: 564px) {
    nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 25rem;
    font-size: 70%;
}
section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
    margin-top: 20%;
}
#skill-icons {
    font-size: 8rem;
    margin-top: 7%;
    margin-left: 5%;
}
.pro {
    grid-area: pro;

    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "txt"
      "project1"
      "project2" 
      "project3" !important;
 }
}

@media (max-width: 523px) {
    nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 24.5rem;
    font-size: 70%;
    
}
}

@media (max-width: 413px ) {
    header.scrolled .logo img {
    display: none !important;
}
#skill-icons {
    font-size: 6rem;
    margin-top: 7%;
    margin-left: 5%;
}
}

@media (max-width: 320px ) {
    header.scrolled .logo img {
    display: none !important;
}

nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: 1s;
    width: 20rem;
    font-size: 47%;
}

nav ul li a:hover {
    display: none;
    font-size: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: ease-in 250ms;
}

section#timeline article div.inner {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    margin-top: 5px;
    border-radius: 6px;
    margin-top: 29%;
}

#skill-icons {
    font-size: 5rem;
    margin-top: 7%;
    margin-left: 5%;
}
}

